.habit_tracker_category {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;

    .category {
        padding: 0.2em 1em;
        border-radius: 100vh;
        font-size: 0.8em;
        color: #ffffff;
    }
}

.category_01 {
    background-color: #b22222;
}

.category_02 {
    background-color: #ffa500;
}

.category_03 {
    background-color: #154383;
}

.category_04 {
    background-color: #ccbe3d;
}

.category_05 {
    background-color: #808080;
}

.category_06 {
    background-color: #fa8072;
}

.category_07 {
    background-color: #483d8b;
}

.category_08 {
    background-color: #66cdaa;
}

.category_09 {
    background-color: #3da4cc;
}

.category_10 {
    background-color: #00cde1;
}

.category_11 {
    background-color: #008080;
}

.category_12 {
    background-color: #9932cc;
}

.category_13 {
    background-color: #c71585;
}

.category_14 {
    background-color: #778899;
}

.category_15 {
    background-color: #d8bfd8;
}
