.habit_tracker_container {
    padding: 2em;
    margin: 2em;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
    }

    .habit_tracker_title {
        margin: 0;
        font-size: 1.5em;
    }
    .habit_tracker_description {
        margin: 1em 1em 2em;
        font-size: 1em;
        color: #808080;
    }

    .calendar_container {
        display: flex;

        .calendar_wrapper {
            width: 100%;
            max-width: 720px;
        }

        .habit_tracker_done_info {
            min-width: 150px;
            margin: auto 1em;

            > div {
                margin: 1em 0;
                font-size: 1em;

                .done_title {
                    color: #808080;
                    font-size: 0.8em;
                }

                .done_day {
                    text-align: right;

                    > span {
                        margin-right: 0.5em;
                        font-weight: 1000;
                    }
                }
            }
        }
    }

    .habit_tracker_created {
        color: #808080;
    }

    .habit_tracker_user_name {
        z-index: 100;
        margin: 1em 0;

        > a {
            color: #000000;
            font-weight: 1000;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
