.reply_comments {
    margin-left: 2em;
}

.toggle_render_reply_container {
    display: inline-block;
    margin: 0.5em 0 2em;

    .toggle_render_reply {
        display: flex;
        align-items: center;
    }

    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
