.container {
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
    top: 80px;
    left: 5%;
    width: 90%;
    height: 60px;
    border-radius: 5px;

    .icon {
        margin-left: 2em;
    }
    .message {
        margin-left: 1em;
    }
}

.success {
    background-color: #ccffcc;
    color: #293329;
}

.error {
    background-color: #ffcccc;
    color: #330505;
}

@media screen and (max-width: 599px) {
    .container {
        .icon {
            margin-left: 1em;
        }

        .message {
            margin-left: 0.5em;
        }
    }
}
