@import 'scss/variables/variable';

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: $main_color;

    .footer_copyright {
        color: $font_color;
    }
}
