.container {
    display: flex;
    justify-content: center;
    width: 100vw;

    .wrapper {
        width: 94%;
        max-width: 1024px;
        margin-top: 3em;

        .button_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 3em;
        }

        .logout_wrapper {
            display: flex;
            justify-content: center;
            margin-top: 1em;

            > div {
                color: #808080;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
