.register_container {
    display: flex;
    justify-content: center;

    .register_wrapper {
        width: 100%;
        max-width: 600px;
        margin: 0 1em;

        .title {
            display: flex;
            justify-content: center;
            margin: 2em 0;
        }
    }
}

.register_form {
    padding: 1.5em 1em;
    border-radius: 5px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);

    .form_input {
        margin-bottom: 1.5em;

        .form_label {
            display: flex;
            align-items: flex-end;

            > label {
                display: inline-block;
                margin-right: 1em;
            }
        }
    }
}

.form_button_wrapper {
    display: flex;
    justify-content: flex-end;
}

.link {
    display: flex;
    margin: 2em 0;

    .link_item {
        margin: 0 0.5em;
        text-decoration-line: underline;
    }
}
