.container {
    display: flex;
    justify-content: center;
    margin: 3em 0;

    .wrapper {
        width: 94%;
        max-width: 1024px;

        .section_container {
            margin: 3em 0;
        }
    }
}
