.diary_item {
    margin: 0 0 2em;
    border-bottom: #dcdcdc solid 1px;

    &:hover {
        cursor: pointer;
    }

    a {
        color: #000000;
    }

    .created {
        margin: 0.5em 0;
        color: #808080;
        font-size: 0.8em;
    }
}
